
#b_title1 {
	float:left;
    font-size:14px;
	width:100px;
    height:20px;
}
#b_sum1 {
	float:left;
	width:100px;
    height:20px;
	font-size:14px;
	text-align:left;
}

#b1 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b2 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b3 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b4 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b5 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b6 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b7 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b8 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b9 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b10 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
	
}


#b_title2 {
	float:left;
    font-size:14px;
	width:100px;
    height:20px;
}
#b_sum2 {
	float:left;
	width:100px;
    height:20px;
	font-size:14px;
	text-align:left;
}

#b11 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b12 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b13 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b14 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b15 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b16 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b17 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b18 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b19 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b20 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
	
}



#b_title3 {
	float:left;
    font-size:14px;
	width:100px;
    height:20px;
}
#b_sum3 {
	float:left;
	width:100px;
    height:20px;
	font-size:14px;
	text-align:left;
}

#b21 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b22 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b23 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b24 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b25 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b26 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b27 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b28 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b29 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b30 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
	
}



#b_title4 {
	float:left;
    font-size:14px;
	width:100px;
    height:20px;
}
#b_sum4 {
	float:left;
	width:100px;
    height:20px;
	font-size:14px;
	text-align:left;
}

#b31 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b32 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b33 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b34 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b35 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b36 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b37 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b38 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b39 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b40 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
	
}


#b_title5 {
	float:left;
    font-size:14px;
	width:100px;
    height:20px;
}
#b_sum5 {
	float:left;
	width:100px;
    height:20px;
	font-size:14px;
	text-align:left;
}

#b41 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b42 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b43 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b44 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b45 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b46 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b47 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b48 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b49 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b50 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
	
}


#b_title6 {
	float:left;
    font-size:14px;
	width:100px;
    height:20px;
}
#b_sum6 {
	float:left;
	width:100px;
    height:20px;
	font-size:14px;
	text-align:left;
}

#b51 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b52 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b53 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b54 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b55 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b56 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b57 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b58 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b59 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b60 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
	
}


#b_title7 {
	float:left;
    font-size:14px;
	width:100px;
    height:20px;
}
#b_sum7 {
	float:left;
	width:100px;
    height:20px;
	font-size:14px;
	text-align:left;
}

#b61 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b62 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b63 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b64 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b65 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b66 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b67 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b68 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b69 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b70 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
	
}



#b_title8 {
	float:left;
    font-size:14px;
	width:100px;
    height:20px;
}
#b_sum8 {
	float:left;
	width:100px;
    height:20px;
	font-size:14px;
	text-align:left;
}

#b71 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b72 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b73 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b74 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b75 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b76 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b77 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b78 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b79 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b80 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
	
}


#b_title9 {
	float:left;
    font-size:14px;
	width:100px;
    height:20px;
}
#b_sum9 {
	float:left;
	width:100px;
    height:20px;
	font-size:14px;
	text-align:left;
}

#b81 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b82 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b83 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b84 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b85 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b86 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b87 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b88 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b89 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
}
#b90 {
	float:left;
	width:40px;
    height:20px;
	font-size:14px;
	text-align:right;
	
}

#b_total {
	float:left;
	width:600px;
    height:30px;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	
}