
 input:disbaled {color:black;}
 input:disbaled {background-color:#ffffff;}
 
 a {
	text-decoration:none;
}

a:hover, a:visited, a:link, a:active {
	font-family:"돋움";
	font-size:11px;
	font-weight:normal;
	color:grey;
}
 
#containers {     
    width:1300px;
	height:750px;
	float:left;
} 
 
#work_col3 {     /* 자재출고 전체크기 */ 
    margin-top:5px;
	width:1500px;
	height:730px;
	float:left;
	margin-left:30px;
    font-size:14px;
	font-weight:normal;
}


#output_text {       /* 출고 폼 */
	margin-top:50px;
	margin-left:100px;
    width:1400px; 
	height:700px;
    font-size:14px;
	font-weight:normal;
}

#preview{
    width:400px; 
	height:400px;	
	float:left;
}

#sero1{
    width:100px; 
	height:30px;	
	float:left;
	margin-top:5px;
	margin-left:10px;	
    font-size:15px;
	font-weight:normal;	
	text-align:right;
}

#sero2{
    width:90px; 
	height:30px;	
	float:left;
	margin-top:5px;
	margin-left:10px;	
    font-size:15px;
	font-weight:normal;			
}
#sero3{
    width:100px; 
	height:30px;	
	float:left;
	margin-top:5px;
	margin-left:10px;	
    font-size:15px;
	font-weight:normal;	
	text-align:right;	
}
#sero31{
    width:100px; 
	height:30px;	
	float:left;
	margin-top:5px;
	margin-left:10px;	
    font-size:15px;
	font-weight:normal;	
	text-align:right;	
}
#sero32{
    width:100px; 
	height:30px;	
	float:left;
	margin-top:5px;
	margin-left:10px;	
    font-size:15px;
	font-weight:normal;	
	text-align:right;	
}
#sero4{
    width:400px; 
	height:30px;	
	float:left;
	margin-top:5px;
	margin-left:10px;	
    font-size:15px;
	font-weight:normal;			
}

#sero5{
    width:600px; 
	height:30px;	
	float:left;
	margin-top:0px;
	margin-left:10px;	
    font-size:15px;
	font-weight:normal;			
}
#sero55{
    width:400px; 
	height:20px;	
	float:left;
	margin-top:10px;
	margin-left:10px;	
    font-size:15px;
	font-weight:normal;			
}
#sero6{
    width:100px; 
	height:20px;	
	float:left;
	margin-top:5px;
	margin-left:10px;	
    font-size:15px;
	font-weight:normal;			
}

#regist_state{
    width:400px; 
	height:20px;	
	float:left;
	margin-top:-5px;
	margin-left:355px;	
    font-size:15px;
	font-weight:normal;		
    color:brown;	
}

#sero7{
    width:320px; 
	height:30px;	
	float:left;
	margin-top:5px;
	margin-left:0px;	
    font-size:15px;
	font-weight:normal;	
	text-align:right;		
}
#sero8{
    width:250px; 
	height:30px;	
	float:left;
	margin-top:5px;
	margin-left:10px;	
    font-size:15px;
	font-weight:normal;			
}

#sero88{
    width:105px; 
	height:30px;	
	float:left;
	margin-top:5px;
	margin-left:210px;	
    font-size:15px;
	font-weight:normal;			
}

#sero9{
    width:100px; 
	height:20px;	
	float:left;
	margin-top:3px;
	margin-left:10px;	
    font-size:15px;
	font-weight:normal;			
}
#sero10{
    width:300px; 
	height:60px;	
	float:left;
	margin-top:0px;
	margin-left:10px;	
    font-size:15px;
	font-weight:normal;			
}
#sero11{
    width:100px; 
	height:20px;	
	float:left;
    font-size:15px;
	margin-top:20px;	
	margin-left:150px;	
	font-weight:bold;	
	text-align:right;	
}
#sero12{
    width:100px; 
	height:20px;	
	float:left;
	margin-top:20px;
	margin-left:5px;	
	text-align:left;	
	font-weight:normal;				
}
#sero111{
    width:150px; 
	height:20px;	
	float:left;
	margin-top:10px;
	margin-left:10px;	
    font-size:15px;
	font-weight:normal;			
}

#serodelivery1{
    width:900px; 
	height:20px;	
	float:left;
	margin-top:5px;
	margin-left:5px;	
    font-size:14px;
	font-weight:normal;			
}
#serodelivery2{
    width:900px; 
	height:20px;	
	float:left;
	margin-top:5px;
	margin-left:170px;	
    font-size:14px;
	font-weight:normal;			
}

.serofile{
    width:250px; 
	height:20px;	
	float:left;
	margin-top:30px;
	margin-left:100px;	
    font-size:15px;
	font-weight:normal;			
}

.serofileview{
    width:400px; 
	height:20px;	
	float:left;
	margin-top:10px;
	margin-left:120px;	
    font-size:14px;
	font-weight:normal;			
}

/* list search css */

#list_search {
	height:30px;
	padding-top:10px;
}

#list_search #list_search1 {
	float:left;
	margin-top:2px;
}

#list_search #list_search11 {
	float:left;
	margin-left:10px;
	margin-top:2px;
}
#list_search #list_search111 {
	float:left;	
	margin-top:2px;
	margin-left:50px;
}

#list_search #list_search2 {
	float:left;
	margin-left:40px;
	margin-top:4px;
}
#list_search #list_search22 {
	float:left;
	margin-left:290px;
	margin-top:4px;
}

#list_search #list_search3 {
	float:left;
	margin-left:5px;
	margin-top:1px;
}

#list_search #list_search3 select {
	width:80px;
	height:21px;
	border:solid 1px #cccccc;
}

#list_search #list_search4 {
	float:left;
	margin-left:3px;
}

#list_search #list_search4 input {
	width:120px;
	height:18px;
	border:solid 1px #cccccc;
}

#list_search #list_search5 {
	float:left;
	margin-left:5px;
	margin-top:1px;
}

#list_top_title {
	width:1400px;
	height:30px;
	padding:2px;  
	border-top:solid 2px #aaaaaa;
	background-color:#eeeeee;
	margin-top:2px;
	margin-bottom:1px;
	font-size:15px;	
	font-weight:bold;	
}

#list_title1 {
	width:50px;
	margin-top:5px;
	margin-left:5px;
    float:left;
	font-size:14px;	
	font-weight:bold;
}

#list_title2 {
	margin-left:80px;
}

#list_title3 {
	margin-left:80px;
}

#list_title4 {
	margin-left:35px;
}

#list_title5 {
	margin-left:115px;
}

#list_title6 {
	margin-left:200px;
}

#list_title7 {
	margin-left:10px;
}

#list_title8 {
	margin-left:-10px;
}

#top_title {
	width:1500px;
	height:30px;
	padding:2px;  
	border-top:solid 2px #aaaaaa;
	background-color:#eeeeee;
	margin-top:2px;
	margin-bottom:1px;
	font-size:14px;	
	font-weight:normal;	
}

#title1 {
	width:50px;
	margin-top:5px;
	margin-left:5px;
    float:left;
	font-weight:normal;		
}

#title22 {
	width:50px;
    float:left;
	font-size:13px;		
	
}

#title2 {
	width:120px;
	margin-top:5px;
	margin-left:5px;
    float:left;
	font-weight:normal;		
}

#title3 {
	width:180px;
	margin-top:5px;
	margin-left:5px;
    float:left;
}
#title4 {
	width:45px;
	margin-top:5px;
	margin-left:25px;
    float:left;
}
#title5 {
	width:45px;
	margin-top:5px;
	margin-left:5px;
    float:left;
}
#title6 {
	width:45px;
	margin-top:5px;
	margin-left:5px;
    float:left;
}
#title7 {
	width:45px;
	margin-top:5px;
	margin-left:5px;
    float:left;
}
#title8 {
	width:45px;
	margin-top:5px;
	margin-left:5px;
    float:left;
}
#title9 {
	width:45px;
	margin-top:5px;
	margin-left:5px;
    float:left;
}
#title10 {
	width:45px;
	margin-top:5px;
	margin-left:5px;
    float:left;
}
#title11 {
	width:45px;
	margin-top:5px;
	margin-left:5px;
    float:left;
}
#title12 {
	width:200px;
	margin-top:5px;
	margin-left:5px;
    float:left;
}






#list_content {
	height:600px;
	width:100%;
}

#list_item {
	height:30px;
	margin-top:3px;
	padding:2px;  
	border-bottom:solid 1px #eeeeee;
}

#list_item #list_item1{
	float:left;
	width:50px;
	text-align:center;
}

#list_item #list_item22{
	float:left;
	width:40px;
}

#list_item #list_item2{
	float:left;
	width:100px;
	text-align:center;	
}

#list_item #list_item3{
	float:left;
	width:200px;
	text-align:center;
}

#list_item #list_item4{
	float:left;
	width:50px;
	text-align:center;
	margin-left:50px;
}

#list_item #list_item5{
	float:left;
	width:50px;
	text-align:center;
}

#list_item #list_item6{
	float:left;
	width:50px;
	text-align:center;
}

#list_item #list_item7{
	float:left;
	width:50px;
	text-align:center;
}

#list_item #list_item8{
	float:left;
	width:50px;
	text-align:center;
}

#list_item #list_item9{
	float:left;
	width:50px;
	text-align:center;
}

#list_item #list_item10{
	float:left;
	width:50px;
	text-align:center;
}

#list_item #list_item11{
	float:left;
	width:50px;
	text-align:center;
}

#list_item #list_item12{
	float:left;
	width:50px;
	text-align:center;
}

#list_item #list_item13{
	float:left;
	width:200px;
	text-align:left;
}



#page_button {
	margin-top:20px;
}

#page_num {
	float:left;
	width:80%;
	margin-top:10px;
	text-align:center;
}

#button {
	float:left;
	width:18%;
	text-align:right;
}

/* write_form css */

#write_form_title {
	margin-top:20px;
	width:99%;
	height:20px;
	text-align:center;
	padding-top:7px;  
	border-top:solid 2px #aaaaaa;
	background-color:#eeeeee;
}

#write_form {
	margin-top:10px;
	height:80px;
	overflow:auto;
}

#write_form #write_row1 {
    width:99%; 
	height:20px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row2 {
    width:99%; 
	height:20px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row3 {
    width:99%; 
	height:20px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row4 {
    width:99%; 
	height:20px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row5 {
    width:99%; 
	height:20px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row6 {
    width:99%; 
	height:20px; 
	margin:2px 0 2px 0; 
}

#work_write_form {
	margin-top:10px;
	height:150px;
	overflow:auto;
}

#work_write_form #work_write_row1 {
    width:99%; 
	height:20px; 
	margin:1px 0 1px 0; 
}

#work_write_form #work_write_row2 {
    width:99%; 
	height:20px; 
	margin:1px 0 1px 0; 
}

#work_write_form #work_write_row3 {
    width:99%; 
	height:20px; 
	margin:1px 0 1px 0; 
}

#work_write_form #work_write_row4 {
    width:99%; 
	height:20px; 
	margin:1px 0 1px 0; 
}

#work_write_form #work_write_row5 {
     width:99%; 
	height:20px; 
	margin:1px 0 1px 0; 
}

#work_write_form #work_write_row6 {
    width:99%; 
	height:20px; 
	margin:1px 0 1px 0; 
}

.write_line {
    width:99%; 
	border-bottom:solid 1px #cccccc;
}

#write_form .col1 {
	float:left;
	width:120px;
	text-align:center;
	padding:5px;
	background-color:#eeeeee;
}

#write_form #write_row3 .col1 {
	height:126px;
	padding-top:120px;
}

#write_form .col2 {
	float:left;
	margin-left: 8px;
	margin-top:2px;
}

#write_row1 .col2 {
	margin-top:6px;
}

#write_form #write_row1 .col3 {
	float:left;
	margin-top:4px;
	margin-left:100px;
}

#write_row2 .col2 input {
	width:650px;
	height:17px;
	border:solid 1px #cccccc;
}

#write_row3 .col2 textarea {
    margin-top:1px;
	border:solid 1px #cccccc;
}

#write_row4 .col2 input {
	width:300px;
	height:19px;
	border:solid 1px #cccccc;
}

#write_row5 .col2 input {
	width:300px;
	height:19px;
	border:solid 1px #cccccc;
}

#write_row6 .col2 input {
	width:300px;
	height:19px;
	border:solid 1px #cccccc;
}

#write_button {
	margin-top:15px;
	width:1100px;
	text-align:right;
}

#write_button_renew {
	margin-top:2px;
	width:1000px;
	text-align:right;
}
#write_button_renew2 {
	margin-top:2px;
	margin-left:2px;
	width:1000px;
	text-align:left;
}

.delete_ok {
	margin:0 0 3px 10px;
}

/* view.php css */

#view_comment {
	margin:10px 0 0 10px;
}

#view_title {
	height:18px;
	padding:10px 8px 8px 8px;  
	border-top:solid 2px #aaaaaa;
	background-color:#eeeeee;
	margin-bottom:5px;
}

#view_title1 {
	float:left;
	width:70%;
}

#view_title2 {
	float:left;
	width:28%;
	text-align:right;
}

#view_content {
	width:98%;
	min-height:200px;
	padding:15px 0 15px 8px;
	overflow:hidden;
	line-height:150%;
	border-bottom:solid 1px #cccccc;
	margin-bottom:15px;
}

#work_view_content {
	width:90%;
	height:40px;
	line-height:100%;
	overflow:auto;
    float:left;	
}


#view_button {
	width:98%;
	text-align:right;
	margin-bottom:15px;
}

#work_view_button {
	width:55%;
	height:60px;
	text-align:right;
	margin-bottom:10px;
	margin-top:10px;
}


/* ripple_work css */

#ripple_work {
	width:90%;
	float:left;
}

#ripple_work_writer_title {
	height:26px;
	padding-top:10px; 
}

#ripple_writer_title ul {
	margin-left:5px;
}

#ripple_writer_title li {
	display:inline;
}

#work_writer_title1 {
	margin-left:12px;
	font-weight:bold;
}

#work_writer_title2 {
	margin-left:20px;
}

#work_writer_title3 {
	margin-left:540px;
}

#ripple_work_content {
	padding:10px;
	margin-left:5px;
	line-height:150%;
}

.hor_work_line_ripple {
	width:80%;
	height:1px;
	margin-bottom:10px;
	border-bottom:solid 3px #efefef;
}

#ripple_work_box {
	width:99%;
	height:100px;
	padding:8px;
	margin-left:3px;
	margin-bottom:15px;
	background-color:#efefef;
}

#ripple_work_box1 {
	float:left;
	margin:5px;
}

#ripple_work_box2 {
	float:left;
	margin:5px;
}

#ripple_work_box2 textarea {
	border:solid 1px #cccccc;
}
#ripple_work_box3 {
	float:left;
	margin:5px 0 0 10px;
}
#ripple_work_writer_title {
	height:26px;
	padding-top:10px; 
}
#ripple_work_writer_title ul {
	margin-left:5px;
}

#ripple_work_writer_title li {
	display:inline;
}
#writer_work_title1 {
	margin-left:10px;
	font-weight:bold;
}

#writer_work_title2 {
	margin-left:20px;
}

/* @group Blink */
.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

/* @end */
.img{
    position: relative;
    background-image: url(http://5130.co.kr/img/output_list.jpg);                                                               
    height: 870px;
    width: 1250px;
    /* background-size: cover; */
}
.img-cover{
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);                                                                 
   z-index:1;
}
.img .content{
     position: absolute;
	 top:10px;
	 left:10px;
     font-size:1rem;
     color: black;     
     text-align: left;
}

    /*  프린트 부분  */

.menu{
		width:1250px;
		height:870px;
		margin:1px;	
	    font-size:15px;
		font-weight:bold;
	 /*position: relative; top: 50px; left: 10px;*/ 
	}


.menu .print1 {       /*  출고일  */
    float:left;
	width:170px;
	height:75px;
    margin-top:25px;	
	margin-left:120px;	
	font-size:18px;
	color:blue;
}

.menu .print1_1 {       /*  경동,대신  */
    float:left;
	width:70px;
	height:44px;
    margin-top:3px;	
	margin-bottom:3px;	
	margin-left:30px;	
	margin-right:10px;	
	color:black;
    font-size:18px;
    text-align:left;
}

.menu .print2 {       /*  수신처  */
    float:left;
	width:155px;
	height:44px;
    margin-top:3px;	
	margin-bottom:3px;	
	margin-left:10px;	
	margin-right:10px;	
	color:black;
    font-size:20px;
    text-align:left;
}
.menu .print3 {        /*  품목  */
    float:left;
	width:185px;
    margin-top:2px;	
	margin-left:10px;	
	margin-right:10px;	
	color:black;
    font-size:15px;
    text-align:left;
}
.menu .print4 {        /*  주소(영업소)  */
    float:left;
	width:280px;
    margin-top:2px;	
	margin-left:90px;	
	margin-right:10px;	
	color:black;
    font-size:20px;
    text-align:left;
}
.menu .print5 {        /*  연락처  */
    float:left;
	width:120px;
    margin-top:2px;	
	margin-left:10px;	
	margin-right:5px;	
	color:black;
    font-size:20px;
    text-align:left;
}
.menu .print6 {        /*  운송방식  */
    float:left;
	width:100px;
    margin-top:2px;	
	margin-left:5px;	
	margin-right:10px;	
	color:black;
    font-size:20px;
    text-align:left;
}

/* @end */
.img{
     position: absolute;
    background-image: url(http://5130.co.kr/img/screenorder.jpg);                                                               
    height: 1450px;
    width: 1150px;
    /* background-size: cover; */
}
/* .img-cover{
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);                                                                 
   z-index:1;
} */
.img .content{
     position: absolute;
	 top:0px;
	 left:0px;
     font-size:1rem;
     color: black;     
     text-align: left;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 3px 5px;
  text-align: center;
  font-weight:bold;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 1px 1px;
  cursor: pointer;
}
.button:hover {
  color: black;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: DodgerBlue;} /* DodgerBlue */ 
.button5 {background-color: Tomato;} /* Black */
.button6 {background-color: Orange;} /* Black */
.button7 {background-color: Gray;} /* Black */
.button8 {background-color: MediumSeaGreen;} /* MediumSeaGreen */


#outlineprint {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}
#outlineprint1 {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}
#outlineprint2 {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}
#outlineprint3 {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}
#outlineprint4 {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}
#outlineprint5 {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}
#outlineprint6 {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}
#outlineprint7 {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}
#outlineprint8 {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}
#outlineprint9 {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}
#outlineprint10 {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}
#outlineprint11 {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}
#outlineprint12 {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}
#outlineprint13 {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}
#outlineprint14 {     /* 화면출력 전체사이즈  */ 
	width:1170px;
	height:1582px;
	float:left;
}



#row1 {     /* 화면 출력 1행  */ 
	width:1100px;
	height:40px;
	float:left;
	margin-left:50px;
	margin-top:20px; 
    font-size:15px;	
}

#row2 {     /* 화면 출력 2행  */ 
	width:1100px;
	height:55px;
	float:left;
} 
#row2 #col1{     /* 화면 출력 2행 1열 */ 
	width:280px;
	height:40px;
	margin-left:190px;
	margin-top:0px;	
	float:left;
    font-size:23px;	
	font-weight:bold;
}
#row2 #col2{     /* 화면 출력 2행 2열 */ 
	width:400px;
	height:40px; 
	margin-left:230px;
	margin-top:0px;	
	float:left;
	font-size:23px;	 
	font-weight:bold;
}
#row3 {     /* 화면 출력 3행  */ 
	width:1100px;
	height:55px;
	float:left;
} 
#row3 #col1{     /* 화면 출력 3행 1열 */  
	width:280px;
	height:40px;
	margin-left:190px;
	margin-top:0px;	
	float:left;
    font-size:23px;	
	font-weight:bold;
}
#row3 #col2{     /* 화면 출력 3행 2열 */ 
	width:400px;
	height:40px;
	margin-left:230px;
	margin-top:0px;	
	float:left;
	font-size:23px;	 
	font-weight:bold; 
}
#row4 {     /* 화면 출력 4행  */ 
	width:1100px;
	height:55px;
	float:left;
} 
#row4 #col1{     /* 화면 출력 4행 1열 */  
	width:280px;
	height:40px;
	margin-left:190px;
	margin-top:5px;	
	float:left;
    font-size:23px;	
	font-weight:bold;
}
#row4 #col2{     /* 화면 출력 4행 2열 */ 
	width:400px;
	height:40px;
	margin-left:230px;
	margin-top:0px;	
	float:left;
	font-size:20px;	 
	font-weight:bold; 
}

#row5 {     /* 화면 출력 5행  */ 
	width:1100px;
	height:55px;
	float:left;
    font-size:22px;	 
	font-weight:bold; 
	margin-left:200px;	
	margin-top:5px;		
} 


#work_col3 {     /* 상단 셔터발주 주요내용 */ 
	width:1600px;
	height:800px;
	float:left;
	margin-left:20px;
}


#work_col_left {     /* 좌측 열 부분 */ 
	width:500px;
	height:500px;
	float:left;
	margin-left:20px;
}
#work_col_right {     /* 우측 열 부분 */ 
	width:1060px;
	height:500px;
	float:left;
	margin-left:20px;
}

.title_col {
    width:40px;
	height:25px;
	float:left;
    text-align:left;
}

.a_col {     /* A열 부분 */ 
	width:40px;
	height:25px;
	float:left;
    text-align:right;
}

#drawimg {
	float:left;
	width:700px;
    height:100px;
}
#draw{
	float:left;
	width:1px;
    height:1px;
    font-size:10px;	
}
#drawbottom11 {
	float:left;
	width:230px;
    height:30px;
    font-size:15px;
	text-align:center;	
	font-weight:bold;
}
#drawbottom22 {
	float:left;
	width:230px;
    height:30px;
    font-size:15px;	
	font-weight:bold;	
	text-align:center;	
	
}
#drawbottom33 {
	float:left;
	width:240px;
    height:30px;
    font-size:15px;	
	font-weight:bold;	
	text-align:center;	
	
}
#drawbottom1 {
	float:left;
	width:230px;
    height:30px;
    font-size:15px;	
	font-weight:bold;	
	text-align:center;	
}
#drawbottom2 {
	float:left;
	width:230px;
    height:30px;
    font-size:15px;	
	font-weight:bold;	
	text-align:center;
}
#drawbottom3 {
	float:left;
	width:240px;
    height:30px;
    font-size:15px;	
	font-weight:bold;	
	text-align:center;
}


.maxsmall {
    width: auto; height: auto;
    max-width: 25px;
    max-height: 25px;
}
.maxsmall_new {
    width: auto; height: auto;
    max-width: 200px;
    max-height: 200px;
}
.maxsmall_new_rail {
    width: auto; height: auto;    
    max-width: 150px;
    max-height: 150px;
}
.maxsmall1 {
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
}
.maxsmall2 {
    width: auto; height: auto;
    max-width: 80px;
    max-height: 80px;
}
.maxsmall3 {
    width: auto; height: auto;
    max-width: 150px;
    max-height: 80px;
}