#firstgroup{    
	width:1700px;
	height:500px;
	float:left;	
}

#firstgroup #second1{ 
	width:800px;
	float:left;	
	color:black;
}

#firstgroup #second2{ 
	width:800px;    
	margin-top:-20px;
	margin-left:20px;
	float:left;	
	color:black;
	font-size:16px;
}
